<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.webratio.cordova.appmonitor"
        version="1.0.0">

    <name>App Monitor</name>

    <description>
        A simple plugin for monitoring application execution performance by means
        of several counters.
    </description>

    <!-- wp8 -->
    <platform name="wp8">
	    <js-module src="www/appmonitor.js" name="appmonitor">
	        <merges target="appmonitor" />
	    </js-module>
        <config-file target="config.xml" parent="/*">
			<feature name="AppMonitor">
				<param name="wp-package" value="AppMonitor"/>
			</feature>
        </config-file>
        <source-file src="src/wp8/AppMonitor.cs" />
    </platform>

</plugin>